#footer{
    width: calc(100% - 30px);
    /* height: 70px; */
    background-color: #daf2e2;
    font-weight: 550;
    color: #056625;
    padding: 10px;
    display: flex;
    justify-content: center;
}
#footer > div {
    margin: 10px 0px;
    text-align: center;
}