
#vietnam-page > #undefined-parent {
    opacity: 0;
    animation: home_ani 0.5s forwards;
    padding: 100px;
    height: calc(100vh - 63px);
}
#vietnam-page > :nth-child(2) {
    height: 100vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
#vietnam-page > :nth-child(2) > :nth-child(1){
    width: calc((100vw - 30px)/2);
    /* height: 70vh; */
}
#vietnam-page > :nth-child(2) > :nth-child(2){
    width: calc((100vw - 30px)/2);
}
