#world-page{
    opacity: 0;
    animation: home_ani 0.5s forwards;
}
#world-page > :nth-child(2){
    font-family: 'Roboto', sans-serif;
    /* margin: auto; */
    max-width: calc(100% * 0.8);
    /* margin: auto; */
    /* max-height: 300px; */
    margin: 40px auto;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#datatable-s2 > :nth-child(2) > div > :nth-child(1) > :nth-child(2) > table > tbody > :nth-child(1) > th {
    font: 700 14px/32px arial;
    text-align: center;
    background-color: #daf2e2;
    color: #056625;
    font-weight: 600;
}
#datatable-s2 > :nth-child(2) > div > :nth-child(2) > :nth-child(2) > table > tbody > tr > td {
    text-align: center;
    font-weight: 600;
    transition: all 0.3s ease;
}
#datatable-s2 > :nth-child(2) > div > :nth-child(2) > :nth-child(2) > table > tbody > tr:hover > td {
    background-color: #617568;
    cursor: pointer;
    color: white;
}

#chart-box {
    width: calc(100vw - 10px);
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
/* #chart-box > div {
    margin: 40px 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}*/
#chart-box > :nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: none;
    justify-items: center;
    
}
#chart-box > :nth-child(2) > p {
    width: 200px;
    display: inline;
    font-size: 30px;
    text-align: center;
    font-weight: 600;
} 


#bar-dropdown-s2{
    position: relative;
    max-width: 750px;
    font-weight: 600;
    left: 50px;
}
#check-list-bar > div {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#check-list-bar > div > label {
    font-size: 28px;
    padding: 15px;
    font-weight: 600;
}
input[type="checkbox"] {
	appearance: none;
	width: 20px;
	height: 20px;
	border: 2px solid #555555;
	background-clip: content-box;
	padding: 3px;
}

input[type="checkbox"]:checked {
	background-color: #056625;
}